.top_to_btm {
  position: relative;
}

.icon_style {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
  background-color: #f9dde1;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #2c5364;
  cursor: pointer;
  animation: movebtn 10s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}


@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
